services:
  frontend:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - 80:80
    extra_hosts:
      - "host.docker.internal:host-gateway"